	H3
	{
		font-family: sans-serif;
	}
	A
	{
		text-decoration: none;
	}
	.tfont
	{
		color: #CCFFCC;
		font-family: sans-serif;
		font-size: 18pt;
		font-style: normal;
		font-weight: bold;
	}
	.ffont
	{
		color: #5555FF;
		font-family: sans-serif;
		font-size: 9pt;
		font-style: normal;
		font-weight: bold;
	}
	.bfont
	{
		font-family: serif;
		font-style: normal;
		font-weight: normal;
	}
	.navi
	{
		color: olive;
		font-family: sans-serif;
		font-size: 9pt;
		font-style: normal;
		font-weight: normal;
	}
